<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grace Baptist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="flatstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="flatstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>
      <div id="main" class="container">
        
		  <div class="head">
			<div class="row-fluid" id="compName">
				<div class="span12">
					<div class="span6">
						<h1 class="muted">Grace Christian School</h1>
					</div>
				</div>
			</div>
		
      <div class="row">
      <div class="navbar-wrapper">

			<div class="navbar navbar-grace">
			  <div class="navbar-inner">
				<!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</a>
				<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
				<div class="nav-collapse collapse">
				  <ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="#">General Information</a></li>
						<li><a href="#">Parent Information</a></li> 
						<li><a href="http://www.facebook.com/gcsdefenders">Current News</a></li>
						<li><a href="#">Location</a></li> 					
					  </ul>
					</li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="/grace/?page=4">Pre-School</a></li>
						<li><a href="#">Elementary</a></li>                   
						<li><a href="#">High School</a></li>                   				
						<li><a href="#">Teacher's blogs</a></li>                   
					  </ul>
					</li>
					<li><a href="/grace/?page=2">Staff</a></li>
					<li><a href="#contact" role="button" data-toggle="modal">Contact</a></li>
				  </ul>
				  
				  <!-- Modal Form -->
				  <div id="contact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  <h3 id="myModalLabel">Modal header</h3>
					</div>
					<div class="modal-body">
					  <form class="form-horizontal" name="contactForm" method="post" action="includes/emailForm.php">
						<!-- Text input-->
						<div class="control-group">
						  <label class="control-label" for="Email">Email:</label>
						  <div class="controls">
							<input id="email" name="email" type="text" placeholder="" class="input-large">
						  </div>
						</div>

						<!-- Text input-->
						<div class="control-group">
						  <label class="control-label" for="name">Name:</label>
						  <div class="controls">
							<input id="name" name="name" type="text" placeholder="" class="input-large">
							
						  </div>
						</div>

						<!-- Text input-->
						<div class="control-group">
						  <label class="control-label" for="phoneNumber">Phone Number:</label>
						  <div class="controls">
							<input id="phoneNumber" name="phoneNumber" type="text" placeholder="" class="input-large">
							
						  </div>
						</div>

						<!-- Textarea -->
						<div class="control-group">
						  <label class="control-label" for="comment">Comment/Question</label>
						  <div class="controls">                     
							<textarea id="comment" name="comment"></textarea>
						  </div>
						</div>
						<div class="modal-footer">
						  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						  <input type="submit" value="Sumbit">
						</div>
					  </form>
					</div>					
				  </div>
				  
				  <!-- =========Login========== -->
					<ul class="nav pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
							<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
								<form method="post" action="login" accept-charset="UTF-8">
									<input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
									<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
									<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
									<label class="string optional" for="user_remember_me"> Remember me</label>
									<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">						
								</form>
							</div>
						</li>
					</ul>
				</div><!--/.nav-collapse -->	
			  </div><!-- /.navbar-inner -->
			</div><!-- /.navbar -->

		</div><!-- /.navbar-wrapper -->

        <div class="row-fluid">
          <div class="span12">
              <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                        <img src="img/cropped1.jpg" alt="">
                        <div class="carousel-caption">
						  <p>To know Jesus Christ and make Him known. Now this is eternal life: that they know you, the only true God, and Jesus Christ, whom you have sent (John 17:3, NIV). Biblically-integrated courses, excellence in academic endeavors, and practical ministry opportunities.</p>
                        </div>
                      </div>
                  <div class="item">
                        <img src="img/cropped2.jpg" alt="">
                        <div class="carousel-caption">
                          <p>To know Jesus Christ and make Him known. Now this is eternal life: that they know you, the only true God, and Jesus Christ, whom you have sent (John 17:3, NIV). Biblically-integrated courses, excellence in academic endeavors, and practical ministry opportunities.</p>
                        </div>
                      </div>
                  <div class="item">
                        <img src="img/cropped3.jpg" alt="">
                        <div class="carousel-caption">
                          <p>To know Jesus Christ and make Him known. Now this is eternal life: that they know you, the only true God, and Jesus Christ, whom you have sent (John 17:3, NIV). Biblically-integrated courses, excellence in academic endeavors, and practical ministry opportunities.</p>
                        </div>
                      </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>                
              </div>
          </div>
        </div>
        <hr>
        <div class='container'>
        <div class="row" id="news-container">
          <div class="news span4">
            <img src="img/croppedVolleyball.jpg" alt="" class="img-polaroid">
            <a href="#"><h2 style="margin: 0;padding: 0;" class='text-center'>Student Activities</h2></a>
            <p class='text-center'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit. </p>
          </div>
          <div class="news span4">
            <img src="img/croppedCooking.jpg" alt="" class="img-polaroid">
            <a href="#"><h2 style="margin: 0;padding: 0;" class='text-center'>Personalized Classrooms</h2></a>
            <p class='text-center'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit. </p>
          </div>
          <div class="news span4">
            <img src="img/croppedParachute.jpg" alt="" class="img-polaroid">
            <a href="#"><h2 style="margin: 0;padding: 0;" class='text-center'>Classes for All Ages</h2></a>
            <p class='text-center'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit. </p>
          </div>
        </div>
      </div>

  <div id="push"></div>
    </div> <!-- /container -->
  </div><!-- end wrap -->
  <hr>

  <!-- FOOTER -->
  <div class='container'>
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>If you have any questions, please contact us at <a href="mailto:grace_christian_defenders@yahoo.com?subject=Website Inquiry">Grace_Christian_Defenders@yahoo.com</a> or call us at 989-793-2129</p>
    </footer> 
  </div>
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="bootstrap/docs/assets/js/jquery.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
  </body>
</html>
