<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Enrollment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="flatstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="flatstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">
    <link href="css/internal.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
	  <link rel="shortcut icon" href="bootstrap/docs/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-grace navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/grace/?page=1">Grace Christian School</a>
          <div class="nav-collapse collapse">
					  <ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information <b class="caret"></b></a>
						  <ul class="dropdown-menu">
							<li><a href="/grace/?page=8">General Information</a></li>
							<li><a href="#">Parent Information</a></li> 
							<li><a href="http://www.facebook.com/gcsdefenders">Current News</a></li>
							<li><a href="#">Location</a></li> 					
						  </ul>
						</li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students <b class="caret"></b></a>
						  <ul class="dropdown-menu">
								<li><a href="/grace/?page=4">Pre-School</a></li>
								<li><a href="/grace/?page=5">Elementary</a></li>                   
								<li><a href="/grace/?page=6">High School</a></li> 
							</ul>
						</li>
						<li><a href="/grace/?page=2">Staff</a></li>
						<li><a href="#contact" role="button" data-toggle="modal">Contact</a></li>
					  </ul>					
					  <!-- =========Login========== -->
						<ul class="nav pull-right">
							<li class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
								<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
									<form method="post" action="login" accept-charset="UTF-8">
										<input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
										<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
										<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
										<label class="string optional" for="user_remember_me"> Remember me</label>
										<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">						
									</form>
								</div>
							</li>
						</ul>
					</div><!--/.nav-collapse -->	
        </div>
      </div>
    </div>

    <!-- Modal Form -->
		<div id="contact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			  <h3 id="myModalLabel">Contact Us</h3>
			</div>
			<div class="modal-body">
			  <form class="form-horizontal" name="contactForm" method="post" action="includes/emailForm.php">
				<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="Email">Email:</label>
				  <div class="controls">
					<input id="email" name="email" type="text" placeholder="" class="input-large">
				  </div>
				</div>

				<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="name">Name:</label>
				  <div class="controls">
					<input id="name" name="name" type="text" placeholder="" class="input-large">
					
				  </div>
				</div>

				<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="phoneNumber">Phone Number:</label>
				  <div class="controls">
					<input id="phoneNumber" name="phoneNumber" type="text" placeholder="" class="input-large">
					
				  </div>
				</div>

				<!-- Textarea -->
				<div class="control-group">
				  <label class="control-label" for="comment">Comment/Question</label>
				  <div class="controls">                     
					<textarea id="comment" name="comment"></textarea>
				  </div>
				</div>
				<div class="modal-footer">
				  <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
				  <input type="submit" value="Submit" class="btn btn-primary">
				</div>
			  </form>
			</div>					
		</div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Grace Christian School</h1>
        <p>"To know Jesus Christ and make Him known. Now this is eternal life: that they know you, the only true God, and Jesus Christ, whom you have sent" (John 17:3, NIV)</p>        
      </div>

      <!-- Example row of columns -->
      <div class="row">
      	<div class="span8">
					<div id="myCarousel" class="carousel slide">
					  <ol class="carousel-indicators">
					    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					    <li data-target="#myCarousel" data-slide-to="1"></li>
					    <li data-target="#myCarousel" data-slide-to="2"></li>
					  </ol>
					  <!-- Carousel items -->
					  <div class="carousel-inner">
					    <div class="active item">
					    	<img src="img/highSchoolGirls.jpg" alt="">
					    </div>
					    <div class="item">
					    	<img src="img/kidsWithSchool.jpg" alt="">
					    </div>
					    <div class="item">
					    	<img src="img/prayingBySign.jpg" alt="">
					    </div>
					  </div>
					  <!-- Carousel nav -->
					  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
				<div class="span3 pull-right pdfBox">
					<h2>Documents</h2>
					<a href="pdfs/GCS_AdmitApp.pdf" class="a-btn span3">
					  <span class="a-btn-text">K-12 Application</span> <br />
					  <!-- <span class="a-btn-slide-text">Admissions events calendar</span> -->
					</a>
					<a href="pdfs/GCS_FeeScheduleK-12.pdf" class="a-btn span3">
					  <span class="a-btn-text">K-12 Fee Schedule</span> <br />
					  <span class="a-btn-slide-text">New K-12 students get a 50% off tuition for this school year</span>
					</a>
					<a href="pdfs/GCS_FeeSchedulePS.pdf" class="a-btn span3">
					  <span class="a-btn-text">School Brochure</span> <br />
					  <!-- <span class="a-btn-slide-text">Admissions events calendar</span> -->
					</a>
				</div>	
				<div class="span12">
					<h1>High School</h1>
					<hr>
					<h3>Biblical Worldview</h3>
					<p>Realizing that the Word of God is the ultimate authority in the world, each class is taught from a Biblical perspective. Students are taught to compare and evaluate what they learn and hear to what the Bible says.</p>
					<h3>Classes</h3>
					<p>Students have all the traditional core classes that are typically offered in school—English, Science, History, Math, and Bible. Electives include but are not limited to PE, Personal finance, Cooking and Baking, and Computers.</p>
					<h3>Block Scheduling</h3>
					<p>High School students attend classes in blocks. Each block is two 50-minute class periods with a break in between. See sample Schedule: </p><br />
					<div class="row">
						<div class="accordion span12" id="accordion2">
					    <div class="accordion-group">
							  <div class="accordion-heading">
							    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
								  	Schedule
					  	    </a>
							  </div>
							  <div id="collapseOne" class="accordion-body collapse">
				  		    <div class="accordion-inner">
								  	<table class="table table-striped table-bordered">
											<caption>Schedule</caption>
											  <thead>
											    <tr>
											      <th>Monday and Wednesdays</th>
											      <th>Tuesdays and Thursdays</th>
											      <th>Fridays-each class meets one hour</th>
											    </tr>
											  </thead>
											  <tbody>
											    <tr>
											      <td>Algebra II<br />Electives</td>
											      <td>Algebra II<br />Electives</td>
											      <td>8:20-9:15 (m, w classes)<br />9:20-10:10 (t, th classes)</td>
											    </tr>
											    <tr>
											      <td>US History<br />Electives</td>
											      <td>English<br />Pre-Calculus</td>
											      <td>10:15-11:05 (m, w classes)<br />11:10-12:00 (t, th classes)</td>						      
											    </tr>
											    <tr>
											      <td>LUNCH</td>
											      <td>LUNCH</td>
											      <td>LUNCH</td>
											    </tr>
											    <tr>
											      <td>Biology<br />Chemistry</td>
											      <td>Bible</td>
											      <td>12:30-1:20 Chapel<br />1:25-2:15 (m, w classes)</td>
											    </tr>
											    <tr>
											      <td>Personal Finance<br />Study Hall</td>
											      <td>PE</td>
											      <td>2:20-3:10 Study Hall</td>
											    </tr>
											  </tbody>
											</table>
							    </div>
							  </div>
					    </div>
					  </div>
					 </div>					
				</div>
				<div class="span12">
					<h3>Student Opportunities</h3>
				</div>
				<div class="span4">
					<a class="caption" href="#" data-title="Online Classes" data-description="We are setting up our computer lab with 11 brand new HP All-in-One Computers with Windows 8 and Touchscreens!  For the 2013-14 school year we are implementing a partnership with Sevenstar Online Academy which will allow us to offer to our high school students a large variety of other electives—5 foreign languages, over 10 AP Classes, Photography, Game Design, ACT prep, Bible electives, and more!">
						<div class="captionIntro">
							<h2>Online Classes</h2>
						</div>
						<img src="img/computer.jpg" alt="Online Classes"/></a>
      		<!-- <a href="#" id="onlineClasses" class="btn popPics" rel="popover" data-trigger="hover" data-placement="top" data-content="We are setting up our computer lab with 11 brand new HP All-in-One Computers with Windows 8 and Touchscreens!  For the 2013-14 school year we are implementing a partnership with Sevenstar Online Academy which will allow us to offer to our high school students a large variety of other electives—5 foreign languages, over 10 AP Classes, Photography, Game Design, ACT prep, Bible electives, and more!" data-original-title="Online Classes">
      			<h2>Online Classes</h2>
      			<img src="img/croppedParachuclass="img-polaroid" te.jpg" alt="" class="">
      		</a> -->
    		</div>	
    		<div class="span4">
					<a class="caption" href="#" data-title="Online Classes" data-description="In the fall we have a junior high( gr. 5-7) and varsity volleyball(gr. 7-12) team. We play other Christian schools, home-school groups, and some local public schools. In the spring of 2013-14 we will be forming our first track and field team.">
						<div class="captionIntro">
							<h2>Sports</h2>
						</div>
						<img src="img/hoverVolley.jpg" alt="Sports"/></a>
				</div>
				<div class="span4">
					<a class="caption" href="#" data-title="Online Classes" data-description="An important part of Christian growth is learning to serve others. Students participate is various kinds of service which have included serving at the Rescue Mission and Eastside Soup kitchens, passing out food, cleaning up neighborhoods, visiting shut-ins, yard work, etc.">
						<div class="captionIntro">
							<h2>Ministry Opportunities</h2>
						</div>
						<img src="img/service.jpg" alt="Serving"/></a>
				</div>
      </div>

      <hr>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>If you have any questions, please contact us at <a href="mailto:grace_christian_defenders@yahoo.com?subject=Website Inquiry">Grace_Christian_Defenders@yahoo.com</a> or call us at 989-793-2129</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/docs/assets/js/jquery.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({
          	interval: 4000
          })
        })
      }(window.jQuery)
    </script>

  </body>
</html>
