<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Enrollment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">
    <link href="css/internal.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="bootstrap/docs/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-grace navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/grace/?page=1">Grace Christian School</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
				<li class="active"><a href="/grace/?page=2">Home</a></li>
				<li><a href="http://www.facebook.com/gcsdefenders">Current News</a></li>
				<li><a href="#contact">General Info</a></li>
				<li><a href="#contact">Contact Us</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#contact">Location</a></li>
						<li><a href="#contact">Calendar</a></li>
						<li><a href="#contact">Sports</a></li>
						<li><a href="#contact">Pre-School</a></li>
						<li><a href="#contact">K-12</a></li>
						<li><a href="#contact">Parent Info</a></li>
						<li><a href="#contact">Students</a></li>
						<li><a href="#contact">GCS Staff</a></li>
					</ul>
				</li>
            </ul>
			<!-- =========Login========== -->
			<ul class="nav pull-right">
				<li class="dropdown">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
					<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
						<form method="post" action="login" accept-charset="UTF-8">
							<input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
							<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
							<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
							<label class="string optional" for="user_remember_me"> Remember me</label>
							<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">						
						</form>
					</div>
				</li>
			</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Grace Christian School</h1>
        <p>.... assisting the home and church, provides a nurturing, Christ-centered, spiritual, academic and physical atmosphere to produce disciples who will have a transforming impact on their world.</p>
        <p><a class="btn btn-primary btn-large btn-grace">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
      	<ul class="thumbnails">
      		<li class="span3"> 
				<div class="thumbnail staffProfile">
			        <img class="rounded staffPic" src="img/sharonJoke.jpg" alt="">	    
			    	<strong style="font-size:1.2em;">Sharon Gamber</strong>
			        <p class='position'><em>Principal</em><br>
			        <br>
			        </p>		       
				  <div class="modal hide" id="sharon" style="display: none;">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal">×</button>
				      <h2>Sharon Gamber</h2>
					  Principal
				    </div>
				    <div class="modal-body">
				      <div class="span3 pull-left"><img class="rounded" src="/media/officeofthepresident/imgs/officeofthepresidentimgs/execstaffresize/resize_Gilbertson, Eric 1-lpr.jpg" alt=""></div>
				      <p><strong>Phone:</strong> (989) 964-4041</p>
				      <p><strong>Email:</strong> <a href="mailto:erg@svsu.edu">erg@svsu.edu</a></p>
				      <p>Principal<br>Grace Christian School<br></p>
				    </div>
				    <div class="modal-footer">
				      <a href="#" class="btn" data-dismiss="modal" data-original-title="">Close</a>
				    </div>
				  </div>
				  <a class="btn" data-toggle="modal" href="#sharon" data-original-title="">More Info</a>		   
			    </div>
			</li>
			<li class="span3"> 
				<div class="thumbnail staffProfile">
			        <img class="rounded staffPic" src="img/sharonJoke.jpg" alt="">	    
			    	<strong style="font-size:1.2em;">Sharon Gamber</strong>
			        <p class='position'><em>Principal</em><br>
			        <br>
			        </p>		       
				  <div class="modal hide" id="sharon" style="display: none;">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal">×</button>
				      <h2>Sharon Gamber</h2>
					  Principal
				    </div>
				    <div class="modal-body">
				      <div class="span3 pull-left"><img class="rounded" src="/media/officeofthepresident/imgs/officeofthepresidentimgs/execstaffresize/resize_Gilbertson, Eric 1-lpr.jpg" alt=""></div>
				      <p><strong>Phone:</strong> (989) 964-4041</p>
				      <p><strong>Email:</strong> <a href="mailto:erg@svsu.edu">erg@svsu.edu</a></p>
				      <p>Principal<br>Grace Christian School<br></p>
				    </div>
				    <div class="modal-footer">
				      <a href="#" class="btn" data-dismiss="modal" data-original-title="">Close</a>
				    </div>
				  </div>
				  <a class="btn" data-toggle="modal" href="#sharon" data-original-title="">More Info</a>		   
			    </div>
			</li>
			<li class="span3"> 
				<div class="thumbnail staffProfile">
			        <img class="rounded staffPic" src="img/sharonJoke.jpg" alt="">	    
			    	<strong style="font-size:1.2em;">Sharon Gamber</strong>
			        <p class='position'><em>Principal</em><br>
			        <br>
			        </p>		       
				  <div class="modal hide" id="sharon" style="display: none;">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal">×</button>
				      <h2>Sharon Gamber</h2>
					  Principal
				    </div>
				    <div class="modal-body">
				      <div class="span3 pull-left"><img class="rounded" src="/media/officeofthepresident/imgs/officeofthepresidentimgs/execstaffresize/resize_Gilbertson, Eric 1-lpr.jpg" alt=""></div>
				      <p><strong>Phone:</strong> (989) 964-4041</p>
				      <p><strong>Email:</strong> <a href="mailto:erg@svsu.edu">erg@svsu.edu</a></p>
				      <p>Principal<br>Grace Christian School<br></p>
				    </div>
				    <div class="modal-footer">
				      <a href="#" class="btn" data-dismiss="modal" data-original-title="">Close</a>
				    </div>
				  </div>
				  <a class="btn" data-toggle="modal" href="#sharon" data-original-title="">More Info</a>		   
			    </div>
			</li>
		</ul><!--T4 nav obj . Thumbnail Gallery --></div>

      <hr>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>If you have any questions, please contact us at <a href="mailto:grace_christian_defenders@yahoo.com?subject=Website Inquiry">Grace_Christian_Defenders@yahoo.com</a> or call us at 989-793-2129</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/docs/assets/js/jquery.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
